{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true
  },

  "parserOptions": {
    "sourceType": "module",
  },

  "extends": "eslint:recommended",

  // For the full list of rules, see: http://eslint.org/docs/rules/
  "rules": {
    "complexity": [2, 55],
    // "max-statements": [2, 115],
    "no-unreachable": 1,
    "no-useless-escape": 0,

    "no-console": 0,
    // To flag presence of console.log without breaking linting:
    //"no-console": ["warn", { allow: ["warn", "error"] }],

    "require-jsdoc": 0,
    "valid-jsdoc": 0,
    "no-constant-condition": 0,
    "no-unused-vars": 0,
    "no-undef": 0,
    "no-redeclare": 0,
    "no-extra-boolean-cast": 0,
    "no-unsafe-finally": 0,
    "max-statements": 0,
    "no-fallthrough": 0,
    "no-extra-semi": 0,
    "valid-typeof": 0,
    "no-empty": 0,
    "no-unexpected-multiline": 0,
    "guard-for-in": 0,
/*
    "require-jsdoc": ["error", {
        "require": {
            "FunctionDeclaration": true,
            "MethodDefinition": true,
            "ClassDeclaration": true,
            "ArrowFunctionExpression": false
        }
    }],
    "valid-jsdoc": [2, {
      "requireReturnDescription": false,
      "requireReturn": false,
      "requireParamDescription": false,
      "requireReturnType": true
      }],
    "guard-for-in": 1,
*/
  },
}
